.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border-color: #dc3545 !important;
}
iframe{
  max-width: 100% !important;
}
.item-tour .bottom-tour .book-now{
  line-height: 26px;
}
.select2-container .select2-selection--single{
  height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 33px;
}
b{
  font-weight: bold;
}
.page-compare table tr td .btn{
  width: 152px;
  height: 26px;
  line-height: 26px;
  background: -webkit-gradient(linear, left top, left bottom, from(#29aae3), to(#13629d));
  background: -webkit-linear-gradient(top, #29aae3, #13629d);
  background: -o-linear-gradient(top, #29aae3, #13629d);
  background: linear-gradient(to bottom, #29aae3, #13629d);
  border: none;
  padding: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}
.tb-info-tour .content .btn {
  width: 100%;
  background: #29aae3;
  color: white;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.ui-datepicker-calendar{
  display: none !important;
}
.ui-datepicker-title{
  margin: 0;
}
select.ui-datepicker-month,select.ui-datepicker-year{
  line-height: 2;
  height: 35px;
  width: 50%;
}