 // Colors
$brand-primary:         #29aae3;
$brand-secondary:       #e71921;
$color-primary:         #00002e;
$color-secondary:       #777777;
$color-star:            #ffc20e;
$color-border:          #dedede;

$bg-primary : linear-gradient(to bottom, #29aae3, #13629d);
$bg-dot     : linear-gradient(to top, #005da4, #00a5e3);


@mixin set-line($line, $lineHeight){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    line-height: $lineHeight;
    height: calc(#{$lineHeight} * #{$line});
}
@mixin set-lineMax($line, $lineHeight){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    line-height: $lineHeight;
    max-height: calc(#{$lineHeight} * #{$line});
}

//Set Font
/* @font-face {
    font-family: 'segoeui';
    src: url('../fonts/segoeui/segoeuisli.ttf') format('truetype');
    font-weight: 200;
} */
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/segoeui/segoeuil.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/segoeui/segoeui.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/segoeui/segoeuisb.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/segoeui/segoeuib.ttf') format('truetype');
    font-weight: bold;
}
// Fonts
$font-family-base:      'segoeui', sans-serif;

h1,
h2,
h3,
h4 {
    color: inherit;
}
input,
select,
textarea,
button{
    font-family: $font-family-base;
    outline: none;
    box-shadow: none;
    vertical-align: middle;
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}
a {
    color: inherit;
    transition: 0.2s;
}

img {
    max-width: 100%;
    outline: none !important;
}
