footer{
	background: url(../images/bg-footer.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 0 30px 0;
	color: white;
	letter-spacing: 0.3px;
	.ft-item{
		.name-company{
			font-size: 15px;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 12px;
		}
		.heading-ft{
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
		}
		p{
			margin-bottom: 6px;
			i{
				margin-right: 15px;
			}
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				line-height: 30px;
				&:hover{
					a{
						color: rgba(#fff,0.6);
					}
				}
			}
		}
		.social-ft{
			margin: 15px 0 20px 0;
			a{
				margin-right: 30px;
				&:hover{
					color: rgba(#fff,0.7);
				}
			}
		}
		.bt-chht{
			width: 100%;
			max-width: 239px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 44px;
			background-color: rgba(#000,0.2);
			border-radius: 5px;
			margin-top: 25px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			transition: 0.2s;
			&:hover{
				background-color: rgba(#000,0.5);
			}
			img{
				margin-right: 13px;
				flex: 0 0 38px;
			}
		}
		.copy-right{
			font-size: 10px;
			font-style: italic;
			margin-top: 20px;
			font-weight: 200;
			a{
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&.ft-item-last{
			@media (min-width: 1200px) {
				padding-left: 55px;
			}
		}
	}
}
@media (max-width: 991px) {
	footer{
		.ft-item{
			margin-bottom: 25px;
			.bt-chht{
				margin-top: 15px;
			}
			&.ft-item-last{
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 767px) {
	footer{
		padding: 25px 0;
		.ft-item{
			.copy-right{
				margin-top: 0;
			}
		}
	}
}