.title-primary {
    text-align: center;
    .heading {
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
    }
    span {
        color: $color-secondary;
        padding: 0 93px;
        display: block;
        @media (max-width: 1199px) {
            padding: 0 13px;
        }
    }
    &.dark {
        .heading {
            color: $color-primary;
        }
    }
    @media (max-width: 767px) {
        .heading {
            font-size: 25px;
        }
    }
}

.view-all-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        color: $brand-secondary;
        border: 1px solid $brand-secondary;
        font-weight: bold;
        padding: 5px 25px;
        i {
            font-size: 12px;
            margin-right: 7px;
        }
        &:hover {
            color: white;
            background-color: $brand-secondary;
        }
    }
}
.item-primary {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 26px;
    a.img {
        position: relative;
        display: block;
        overflow: hidden;
        img {
            width: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            transition: 0.4s;
        }
    }
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        padding: 10px 14px;
        letter-spacing: 0.05em;
        .title {
            font-size: 13.5px;
            font-weight: bold;
            margin-bottom: 3px;
            text-transform: uppercase;
            a {
                @include set-lineMax(2, 25px);
            }
        }
        .time {
            font-size: 12px;
            color: #9f9f9f;
        }
        i {
            font-size: 13.5px;
            font-weight: normal;
            margin-right: 8px;
        }
    }

    &:hover {
        a.img {
            &:before {
                height: 100%;
            }
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 13px;
    }
}