body {
    font-family: $font-family-base;
    background-color: #fff;
    font-size: 13.5px;
    color: $color-primary;
    line-height: 25px;
}

.wrap {
    overflow: hidden;
}

@media (max-width: 1199px) {
    .wow {
        visibility: visible !important;
    }
}

header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    &.scroll{
        .top-header{
            height: 0px;
            overflow: hidden;
        }
        .bottom-header{
            background-color: rgba(0, 0, 0, 0.8);
        }
        .wrap-bottom-hd{
            a.logo{
                max-width: 90px;
                bottom: 2px;
            }
        }
    }
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    @include pfs("height", (
		1366px: 31px,
		1920: 38px
	));
	@include pfs("padding-left , padding-right", (
		1366px: 40px,
		1920px: 55px
	));
    background-color: rgba(#000, 0.45);
}

.wrap-top-hd {
    padding-left: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .socials {
        .fa {
            font-size: 10px;
            text-align: center;
            text-decoration: none;
            @include pfs("width , height", (
				1366px: 18px,
				1920px: 21px
			));
        }
        .fa:hover {
		    opacity: 0.7;
		}
        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-google-plus {
            background: #f63d27;
            color: white;
        }
        .fa-youtube-play {
		  	background: #fe3432;
		  	color: white;
		}
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                a{
                	display: flex;
                	align-items: center;
                	justify-content: center;
                	border-radius: 50%;
                	margin-right: 8px;
                }
            }
        }
    }
    .info-top-header {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                a{
                	font-size: 12px;
                	@include pfs("font-size", (
						1366px: 12px,
						1920: 14px
					));
                	display: flex;
                	align-items: center;
                	margin-left: 12px;
                	padding-left: 12px;
                	line-height: 12px;
                	i{
                		margin-right: 9px;
                	}
                }
                &:last-child{
                	a{
                		border-left: 2px solid #fff;
                	}
                }
            }
        }
    }
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(#000, 0.35);
}

.wrap-bottom-hd {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a.logo {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: 0.3s;
        max-width: 117px;
    }
    nav {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                a {
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 22px 25px;
                    @include pfs("font-size", (
						1366px: 13.5px,
						1920: 16px
					));
                }
                &:hover,&.active {
                    a {
                        background: $brand-primary;
                    }
                }
            }
        }
        @media (max-width: 1199px) {
            display: none;
        }
    }
    .book-tour{
    	text-transform: uppercase;
    	padding: 22px 25px;
    	background: $bg-primary;
    	font-weight: bold;
    	display: flex;
    	align-items: center;
		max-height: 100%;
		margin-left: 25px;
    	@include pfs("font-size", (
			1366px: 13.5px,
			1920: 16px
		));
    	i{
			@include pfs("margin-right ", (
				1366px: 11px,
				1920: 15px
			));
    		@include pfs("font-size", (
				1366px: 25px,
				1920: 30px
			));
    	}
    }
}
.icon-reponsive{
    display: none;
    @media (max-width: 1199px) {
        display: block;
        cursor: pointer;
        margin-left: 20px;
        span{
            height: 3px;
            width: 30px;
            display: block;
            margin: 5px 0;
            border-radius: 2px;
            background: #fff;
        }
    }
}
@media (max-width: 991px) {
    header{
        position: relative;
    }
    header.scroll {
       .wrap-bottom-hd {
            a.logo{
                max-width: 80px;
                bottom: 0;
            } 
       }
        .bottom-header{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
        }
    } 
    .top-header{
        padding-left: 0;
        padding-right: 0;
        transition: 0s;
    }  
    .wrap-bottom-hd {
        .book-tour{
            padding: 17px 25px;
        }
        a.logo{
            bottom: 0;
        }
    }
}
@media (max-width: 767px) {
    .wrap-top-hd {
        padding-left: 0;
        justify-content: flex-end;
        .info-top-header ul li {
            a{
                padding-left: 10px;
                span{
                    display: none;
                }
                i{
                   margin-right: 0; 
                   font-size: 14px;
                }
            }
            &:first-child{
                a{
                    margin-left: 0;
                    i{
                        margin-top: -3px;
                    }
                }
            }
        }
        
        
    }
    .wrap-bottom-hd {
        .book-tour{
            padding: 17px 15px;
            font-size: 12px;
            i{
                font-size: 20px;
            }
        }
        a.logo{
            max-width: 120px;
        }
    }
    
}
@media (max-width: 320px) {
    .wrap-bottom-hd {
        .book-tour{
            padding: 12px 15px;
        }
        a.logo{
            max-width: 100px;
        }
    }
    header.scroll .wrap-bottom-hd a.logo{
        max-width: 68px;
    }
    
}
/* Fix modal  */

.mm-slideout {
    z-index: auto !important
}

.mm-menu.mm-offcanvas {
    text-transform: uppercase;
    font-weight: bold;
}

.mm-navbar .mm-title {
    font-size: 16px;
    font-weight: bold;
}