.banner-home {
    position: relative;
}

.slide-home {
    .owl-dots {
        margin-top: 0 !important;
        position: absolute;
        right: 40px;
        top: calc(50%);
        .owl-dot {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
                width: 4px;
                height: 4px;
                background: white;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            &.active {
                span {
                    width: 12px;
                    height: 12px;
                    background: $bg-dot;
                }
            }
        }
    }
}

.title-banner-home {
    margin-top: 30px;
    /* padding: 0 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    .title {
        font-weight: 600;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        @include pfs("margin-bottom ", ( 1366px: 20px,
        1920: 30px));
        @include pfs("font-size ", ( 1366px: 56px,
        1920: 80px));
    }
    span {
        font-weight: 600;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        @include pfs("font-size ", ( 1366px: 17px,
        1920: 24px));
    }
    .search-banner {
        background: rgba(#000, 0.45);
        position: relative;
        @include pfs("padding ", ( 1366px: 22px,
        1920: 30px));
        @include pfs("margin-top ", ( 1366px: 25px,
        1920: 38px));
        .form-group {
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 0;
            @include pfs("width ", ( 1366px: 590px,
            1920: 825px));

            input {
                border: none;
                color: $color-secondary;
                @include pfs("height ", ( 1366px: 35px,
                1920: 48px));
                @include pfs("padding-right ", ( 1366px: 82px,
                1920: 108px));
                @include pfs("font-size ", ( 1366px: 13px,
                1920: 16px));
                &::placeholder {
                    color: $color-secondary;
                }
            }
            button {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                background: $bg-primary;
                border: none;
                border-radius: 0;
                i {
                    color: white;
                    @include pfs("font-size ", ( 1366px: 14px,
                    1920: 20px));
                    transform: rotate(90deg);
                }
                @include pfs("width ", ( 1366px: 67px,
                1920: 93px));
            }
        }
    }
}

.tour-voucher-home {
    padding: 40px 0;
}

.tabs-tour-home {
    margin: 22px 0 0 0;
}

.tabs-tour-home {
    .nav-tabs {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-item {
            border: none;
            margin-bottom: 0;
            padding: 5px 35px;
            background: white;
            color: $brand-primary;
            border: 1px solid $brand-primary;
            border-radius: 3px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 7px;
            &.active,
            &:hover {
                background: $bg-primary;
                color: white;
            }
        }
    }
    .tab-content {}
}

.slide-tour-home {
    margin-top: 25px;
    margin-bottom: 22px;
    .slide-prev,
    .slide-next {
        top: calc(50% - 58px);
    }
    .item-tour{
        margin-top: 3px;
        margin-bottom: 0;
    }
}
.sale-tour {
    width: 35px;
    height: 47px;
    background: url(../images/icons/icon-sale.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: white;
    font-weight: bold;
    span {
        margin-top: -10px;
    }
}
.item-tour {
    transition: 0.3s;
    background-color: white;
    margin-bottom: 25px;
    .img-tour {
        position: relative;
        a img{
            width: 100%;
        }
        
        .location-time-tour {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(#000, 0.65);
            color: white;
            padding: 0 10px;
            span,
            a {
                display: flex;
                align-items: center;
                i {
                    margin-right: 8px;
                }
            }
        }
    }
    .content-tour {
        padding: 13px 10px 13px 18px;
        border: solid 1px $color-border;
        width: 100%;
        .name-tour {
            font-size: 13.5px;
            text-transform: uppercase;
            font-weight: bold;
            @include set-line(1, 25px);
            margin-bottom: 5px;
            &:hover {
                a {
                    color: $brand-primary;
                }
            }
        }
        span {
            display: block;
            font-size: 12px;
        }
        .price-tour {
            color: $brand-secondary;
            display: flex;
            align-items: center;
            font-size: 12px;
            b {
                font-size: 15px;
            }
            small {
                font-size: 100%;
                margin-left: 20px;
                color: $color-secondary;
                text-decoration: line-through;
            }
        }
    }
    .bottom-tour {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 18px;
        border: 1px solid $color-border;
        border-top: none;
        .compare {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;
            color: $brand-primary;
            font-size: 12px;
            img {
                flex: 0 0 13px;
                margin-right: 8px;
            }
        }
        .book-now {
            width: 93px;
            height: 26px;
            vertical-align: middle;
            padding: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            border-radius: 5px;
            background: $bg-primary;
            color: white;
            border: none;
            transition: 0.2s;
            &:hover {
                background: $brand-secondary;
            }
        }
    }
    &:hover {
        transform: translateY(-3px);
    }
}

.slide-prev,
.slide-next {
    position: absolute;
    right: 100%;
    top: calc(50% - 29px);
    cursor: pointer;
    span {
        font-size: 58px;
    }
}

.slide-next {
    left: 100%;
}

.slide-blog-prev,
.slide-blog-next {
    position: absolute;
    right: calc(100% - 14.5px);
    top: calc(50% - 14.5px);
    cursor: pointer;
    span {
        font-size: 29px;
        color: white;
    }
    @media (max-width: 767px) {
        left: 0;
        right: inherit;
    }
}

.slide-blog-next {
    left: calc(100% - 14.5px);
    @media (max-width: 767px) {
        left: inherit;
        right: 0;
    }
}

.dots-blue {
    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .owl-dot {
            span {
                width: 4px;
                height: 4px;
                background: $brand-primary;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            &.active {
                span {
                    width: 12px;
                    height: 12px;
                    background: $bg-dot;
                }
            }
        }
    }
}

.why-home {
    padding: 40px 0 20px 0;
    background-color: #f7f7f7;
}

.list-why-home {
    .title {
        font-size: 20px;
        font-weight: 600;
        color: $brand-primary;
        text-transform: uppercase;
        text-align: center;
        padding: 0 20px;
        margin: 30px 0;
        cursor: pointer;
    }
    .item-why {
        width: 20%;
        float: left;
        text-align: center;
        padding: 0 25px;
        margin-bottom: 20px;
        &:not(:last-child) {
            border-right: 1px solid $color-border;
        }
        h4 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13.5px;
            margin-top: 15px;
            line-height: 30px;
        }
        span {
            color: $color-secondary;
        }
    }
}

.wrap-why {
    display: none;
}

.ads-home {
    margin: 24px 0;
}

.top-destination-home {
    padding: 15px 0;
}

.slideTopDestination {
    padding-bottom: 15px;
    .slide-prev,
    .slide-next {
        top: calc(50% - 39px);
    }
    .block-des {
        .item {
            position: relative;
            margin-top: 25px;
            a.img {
                position: relative;
                display: block;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 60px;
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                    opacity: 0.85;
                    transition: 0.4s;
                }
            }
            a.location {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                padding: 10px 14px;
                letter-spacing: 0.05em;
                i {
                    font-weight: normal;
                    margin-right: 8px;
                }
            }

            &:hover {
                a.img {
                    &:before {
                        height: 100%;
                    }
                }
            }
        }
    }
}

.voucher-home {
    padding: 15px 0;
}

.list-voucher {
    padding-bottom: 40px;
    .item {
        margin-top: 26px;
        transition: 0.2s;
        .img-tour {
            position: relative;
            img {
                width: 100%;
            }
            .location-time-tour {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: rgba(#000, 0.65);
                color: white;
                padding: 0 10px;
                span,
                a {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 8px;
                    }
                }
            }
        }
        .content-tour {
            padding: 13px 10px 13px 18px;
            border: solid 1px $color-border;
            width: 100%;
            .name-tour {
                font-size: 13.5px;
                text-transform: uppercase;
                font-weight: bold;
                @include set-lineMax(2, 25px);
                margin-bottom: 0;
                &:hover {
                    a {
                        color: $brand-primary;
                    }
                }
            }

            span {
                display: block;
                font-size: 12px;
            }
            .price-tour {
                color: $brand-secondary;
                display: flex;
                align-items: center;
                font-size: 12px;
                b {
                    font-size: 15px;
                }
                small {
                    font-size: 100%;
                    margin-left: 20px;
                    color: $color-secondary;
                    text-decoration: line-through;
                }
            }
        }
        .bottom-tour {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 10px 18px;
            border: 1px solid $color-border;
            border-top: none;
            .compare {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 600;
                color: $brand-primary;
                font-size: 12px;
                img {
                    flex: 0 0 13px;
                    margin-right: 8px;
                }
            }
            .book-now {
                width: 93px;
                height: 26px;
                vertical-align: middle;
                padding: 0;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                border-radius: 5px;
                background: $bg-primary;
                color: white;
                border: none;
                transition: 0.2s;
                &:hover {
                    background: $brand-secondary;
                }
            }
        }
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 8px 0 rgba(#000, 0.2);
        }
    }
}

.star-tour {
    i {
        color: $color-border;
        &.active {
            color: $color-star;
        }
    }
}

.news-home {
    padding: 15px 0 40px 0;
}

.list-news-home {
    padding-bottom: 40px;
    .item-hot {
        margin-top: 26px;
        transition: 0.3s;
        .content {
            padding: 13px 15px;
            border: 1px solid $color-border;
            border-top: none;
            .title {
                font-size: 13.5px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0;
                a {
                    @include set-line(1, 25px);
                }
                &:hover {
                    a {
                        color: $brand-primary;
                    }
                }
            }
            span {
                color: $color-secondary;
                display: block;
                &.desc {
                    @include set-line(2, 25px);
                }
                &.time {
                    font-size: 12px;
                    i {
                        margin-right: 8px;
                        font-size: 13.5px;
                    }
                }
            }
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
    .item {
        margin-top: 26px;
        position: relative;
        margin-top: 25px;
        a.img {
            position: relative;
            display: block;
            overflow: hidden;
            img {
                width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                opacity: 0.85;
                transition: 0.4s;
            }
        }
        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            padding: 10px 14px;
            letter-spacing: 0.05em;
            .title {
                font-size: 13.5px;
                font-weight: bold;
                margin-bottom: 3px;
                a {
                    @include set-line(2, 22px);
                }
            }
            .time {
                font-size: 12px;
            }
            i {
                font-size: 13.5px;
                font-weight: normal;
                margin-right: 8px;
            }
        }

        &:hover {
            a.img {
                &:before {
                    height: 100%;
                }
            }
        }
    }
}

.feedback-home {
    padding: 40px 0 20px 0;
    background: url(../images/bg-feedback.jpg) no-repeat center;
    background-size: cover;
}

.slideFeedback {
    padding-top: 10px;
    .slide-next,
    .slide-prev {
        top: calc(50% - 48px);
    }
    .item {
        display: flex;
        align-items: center;
        img {
            width: auto;
            max-width: 117px;
            border-radius: 50%;
            border: 6px solid #fff;
            flex: 0 0 117px;
        }
        .content {
            padding: 0 46px;
            text-align: center;
            font-size: 15px;
            a {
                display: block;
                color: $brand-secondary;
                font-weight: bold;
                margin-bottom: 10px;
                text-transform: uppercase;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                i {
                    font-size: 60px;
                    line-height: 20px;
                    color: rgba($color-secondary, 0.5);
                    display: inline-block;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.partner-home {
    padding: 40px 0;
}

.slidePartner {
    margin-top: 20px;
    .item {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85px;
            img {
                width: auto;
                max-height: 100%;
            }
        }
    }
}

.register-home {
    padding: 20px 0;
    border-top: 1px solid $color-border;
    .form-register {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-group {
            margin-bottom: 0;
            position: relative;
            flex: 0 0 55%;
            border-radius: 3px;
            overflow: hidden;
            input {
                color: $color-secondary;

                font-size: 12px;
                border: 1px solid $color-border;
                height: 42px;
                padding-right: 52px;
                &::placeholder {
                    color: $color-secondary;
                }
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                background: $bg-primary;
                border: none;
                height: 42px;
                width: 102px;
                border-radius: 0;
                i {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .search-destinations.home{
        display: none !important;
    }
}
@media (max-width: 991px) {
    .title-banner-home {
        .title {
            font-size: 40px;
            margin-bottom: 10px;
            margin-top: 40px;
        }
        span {
            font-size: 16px;
            text-align: center;
        }
        .search-banner {
            margin-top: 15px;
        }
    }
    .slide-home .owl-dots {
        right: 15px;
    }
    .list-why-home .item-why {
        padding: 0 10px;
    }
    .slide-next,
    .slide-prev {
        right: inherit;
        left: -48px;
    }
    .slide-next {
        left: inherit;
        right: -48px;
    }
}

@media (max-width: 767px) {
    .item-tour{
        margin-bottom: 13px;
    }
    .slide-home .owl-dots {
        right: 0px;
    }
    .title-banner-home {
        margin-top: 0;
        width: 100%;
        .title {
            margin-top: 0;
            font-size: 30px;
        }
        span {
            font-size: 14px;
        }
        .search-banner {
            max-width: 100%;
            width: calc(100% - 60px);
            margin-left: 30px;
            margin-right: 30px;
            padding: 10px;
            .form-group {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .slide-home .item a img {
        min-height: 300px;
        object-fit: cover;
    }
    .tour-voucher-home,
    .partner-home {
        padding: 25px 0;
    }
    .why-home,
    .feedback-home {
        padding-top: 25px;
    }
    .list-why-home .title {
        font-size: 18px;
    }
    .wrap-why {
        .row {
            display: block;
            .item-why {
                width: 100%;
                padding: 0 15px;
                border-right: none;
            }
        }
    }
    .slideFeedback .item {
        flex-direction: column;
        .content {
            padding: 0 15px;
            a i {
                font-size: 40px;
            }
        }
        img {
            height: 117px;
            margin-bottom: 15px;
        }
    }
    .register-home .form-register {
        flex-direction: column;
        line-height: 20px;
        .form-group {
            flex: 0 0 100%;
            width: 100%;
            margin-top: 15px;
        }
    }
}