.banner-primary {
    background: url(../images/banner-tour1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.2);
    }
    &.blog {
        background: url(../images/banner-news.jpg) no-repeat center;
        background-size: cover;
    }
    &.voucher {
        background: url(../images/banner-voucher.jpg) no-repeat center;
        background-size: cover;
    }
    &.tour2 {
        background: url(../images/banner-tour2.jpg) no-repeat center;
        background-size: cover;
    }
    &.tour-dt {
        background: none;
        >img {
            width: 100%;
        }
        @media (max-width: 767px) {
            >img {
                height: 200px;
                object-fit: cover;
            }
        }
    }
    &.compare {
        background: url(../images/banner-compare.jpg) no-repeat center;
        background-size: cover;
        .title-banner-page {
            padding-bottom: 80px;
        }
    }
    &.book-tour {
        background: url(../images/banner-dat-tour.jpg) no-repeat center;
        background-size: cover;
    }
    &.chht {
        background: url(../images/banner-chht.jpg) no-repeat center;
        background-size: cover;
    }
}

.title-banner-page {
    color: white;
    padding: 220px 0 150px 0;
    position: relative;
    z-index: 1;
    text-align: center;
    .heading {
        font-size: 66px;
        font-weight: bold;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 0;
    }
    .breadcrumb {
        background-color: transparent;
        justify-content: center;
        margin-bottom: 0;
        .breadcrumb-item {
            text-transform: uppercase;
            font-size: 15px;
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
            &.active {
                color: white;
            }
            &:before {
                color: white;
                padding: 0 3px;
            }
        }
    }
    &.blog {
        padding: 155px 0 50px 0;
        .list-des-hot {
            padding: 12px 10px;
            border-radius: 8px;
            background-color: #eeeeee;
            margin-top: 30px;
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                li {
                    list-style: none;
                    width: 16.6667%;
                    padding: 0 6px;
                    a {
                        img {
                            border-radius: 5px;
                            transition: 0.3s;
                        }
                    }
                    &:hover {
                        a img {
                            box-shadow: 0 2px 10px 2px rgba(#000, 0.5);
                        }
                    }
                }
            }
        }
    }
    &.tour {
        padding-bottom: 25px;
    }
    @media (max-width: 767px) {
        padding: 100px 0;
        .heading {
            font-size: 40px;
        }
        .breadcrumb .breadcrumb-item {
            font-size: 13.5px;
        }
        &.blog {
            padding: 80px 0 20px 0;
            .list-des-hot {
                padding: 5px;
                margin-top: 15px;
                ul {
                    display: block;
                    li {
                        width: 33.333%;
                        float: left;
                        padding: 3px;
                    }
                }
            }
        }
    }
}

.chht-slogan {
    padding: 30px 0 15px 0;
    .item {
        h3 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 5px;
        }
        p {
            font-size: 15px;
        }
    }
}

.chht-facility {
    padding: 45px 0;
    background-color: #eeeeee;
    .bd-right {
        border-right: 1px solid $color-border;
    }
    .item {
        text-align: center;
        .img {
            min-height: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .content {
            b {
                display: block;
                font-size: 15px;
            }
            span {
                color: $color-secondary;
            }
        }
        @media (min-width: 1200px) {
            .content {
                padding: 0 78px;
            }
        }
    }
}

.chht-youdo {
    padding: 25px 0;
    h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 35px;
    }
    .item {
        text-align: center;
        margin-bottom: 20px;
        .icon {
            min-height: 56px;
            margin-bottom: 20px;
        }
        strong {
            font-size: 15px;
        }
    }
    .bd-right {
        border-right: 1px solid $color-border;
    }
}
.chht-contact{
	padding: 40px 0;
	background-color: #f7f7f7;
	h4{
		font-weight: 600;
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.info-contact{
		strong{
			font-size: 15px;
		}
		p{
			i{
				margin-right: 12px;
			}
			a{
				margin: 0 10px;
				&:hover{
					color: $brand-primary;
				}
			}
		}
	}
	.form-contact{
		.form-group{
			margin-bottom: 10px;
		}
		.form-control{
			height: 34px;
			color: $color-primary;
			font-size: 13.5px;
			background: white;
			&::placeholder{
				color: $color-primary;
			}
		}
		textarea{
			height: auto !important;
		}
		button{
			background: $bg-primary;
			border: none;
			height: 34px;
			padding: 0;
			font-weight: bold;
			color: white;
			width: 105px;
			font-size: 13.5px;
		}
	}
}
.chht-map{
	@include pfs("height", (
		375px: 300px,
		1600: 585px
	));
	border-top: 1px solid $color-border;
}
@media (max-width: 767px) {
    .chht-facility {
        padding: 25px 0 10px 0;
        .bd-right {
            border: none;
        }
        .item {
            margin-bottom: 15px;
        }
    }
    .chht-youdo {
        h3 {
            font-size: 25px;
        }
        .item {
            strong {
                font-size: 14px;
            }
        }
        .bd-right {
            border: none;
        }
    }
    .chht-contact{
    	padding: 25px 0;
		h4{
			font-size: 25px;
			margin-bottom: 15px;
		}
		.form-contact{
			margin-top: 15px;
		}
    }
}