.list-cate-blog {
    padding: 40px 0 25px 0;
}

.block-cate-blog {
    .heading {
        position: relative;
        margin-bottom: 20px;
        h3 {
            font-size: 20px;
            font-weight: bold;
            position: relative;
            display: flex;
            display: inline-block;
            background-color: white;
            padding-right: 15px;
        }
        &:before {
            content: '';
            height: 1px;
            width: 100%;
            background-color: #ececec;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }
    .item-hot {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 30px;
        a.img {
            position: relative;
            display: block;
            overflow: hidden;
            img {
                width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 40%;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                opacity: 0.80;
                transition: 0.4s;
            }
        }
        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            padding: 10px 14px;
            letter-spacing: 0.05em;
            .title {
                font-size: 13.5px;
                font-weight: bold;
                margin-bottom: 3px;
                text-transform: uppercase;
                a {
                    @include set-lineMax(2, 25px);
                }
            }
            .time {
                font-size: 12px;
                color: #9f9f9f;
            }
            i {
                font-size: 13.5px;
                font-weight: normal;
                margin-right: 8px;
            }
        }

        &:hover {
            a.img {
                &:before {
                    height: 100%;
                }
            }
        }
    }
    .item {
        &:last-child {
            border-bottom: none;
        }
    }
    .item-normal {
        display: flex;
        align-items: flex-start;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $color-border;
        .img {
            flex: 0 0 79px;
            margin-right: 24px;
            border-radius: 5px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .content {
            .title {
                font-size: 13.5px;
                font-weight: bold;
                margin-bottom: 0;
                a {
                    @include set-lineMax(3, 21px);
                }
                &:hover {
                    a {
                        color: $brand-primary;
                    }
                }
            }
            .time {
                color: $color-secondary;
                i {
                    font-size: 13.5px;
                    font-weight: normal;
                    margin-right: 8px;
                }
            }
        }
    }
}

.blog-hot {
    background: url(../images/bg-news-hot.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0;
    .heading {
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        text-align: center;
        font-size: 30px;
        margin-bottom: 45px;
    }
    .slideBlogHot {
        .item {
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            a.img {
                position: relative;
                display: block;
                overflow: hidden;
                img {
                    width: 100%;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                    transition: 0.4s;
                }
            }
            .content {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: white;
                padding: 10px 14px;
                letter-spacing: 0.05em;
                .title {
                    font-size: 13.5px;
                    font-weight: bold;
                    margin-bottom: 3px;
                    text-transform: uppercase;
                    a {
                        @include set-lineMax(2, 25px);
                    }
                }
                .time {
                    font-size: 12px;
                    color: #9f9f9f;
                }
                i {
                    font-size: 13.5px;
                    font-weight: normal;
                    margin-right: 8px;
                }
            }

            &:hover {
                a.img {
                    &:before {
                        height: 100%;
                    }
                }
            }
        }
    }
}
.list-blog-cate{
	padding: 50px 0 25px 0;
}
.tabs-list-destination{
	padding: 40px  0;
	border-top: 1px solid $color-border;
	.nav-tabs{
		border-bottom: none;
		.nav-link{
			border-radius: 0;
			margin-bottom: -1px;
			background-color: #efefef;
			color: $color-secondary;
			border: 1px solid #e9e9e9;
			
			margin-right: 1px;
			&.active{
				background-color: #fafafa;
				border-bottom: none;
			}
		}
	}
	.list-item{
		padding: 30px 40px 10px 40px;
		background-color: #fafafa;
		border: 1px solid #e9e9e9;
		a{
			color: $color-secondary;
			padding-bottom: 20px;
			display: block;
			&:hover{
				color: $brand-primary;
			}
		}
	}
}
//phan trang
.pagination-primary {
    text-align: center;
    margin: 0;
    padding: 15px 0 0 0;
    position: relative;
    .pagination {
        justify-content: center;
        margin: 0;
        li {
            a {
                font-size: 14px;
                margin: 0 4px;
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: transparents;
                font-weight: 600;
                border: 1px solid $color-border;
                border-radius: 5px;
                transition: 0s;
                i {
                    font-size: 16px;
                }
                &.active,
                &:hover {
                    border: none !important;
                    background: $brand-primary;
                    color: #fff;
                    background: $bg-primary;
                }
            }
        }
    }
}

.top-news-details{
	position: relative;
	
	>img{
		width: 100%;
		object-fit: cover;
	}
	.heading-news-details{
		padding: 50px 0 20px 0;
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 1;
		color: white;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
		.wrap-heading{
			padding-left: 100px;
		}
		h1{
			font-size: 30px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.time-bre{
			display: flex;
			align-items: center;
			ul{
				margin: 0;
				padding: 0;
				display: flex;
				li{
					list-style: none;
					padding-left: 12px;
					margin-right: 12px;
					border-left: 1px solid #9f9f9f;
					line-height: 15px;
					color: #9f9f9f;
					&:hover{
						color: #fff;
					}
				}
			}
		}
		span.time{
			color: #9f9f9f;
			margin-right: 12px;
			i{
				margin-right: 8px;
			}
		}
	}
}
.bd-left{
	&:before{
		content: "";
		position: absolute;
		left: -13px;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: $color-border;
	}
	
}
.content-primary-newsdt{
	padding-top: 48px;
	padding-bottom: 28px;
	.content-left{
		padding-right: 26px;
	}
	
}
.share-post{
	display: flex;
	align-items: center;
	.count-share{
		margin-right: 35px;
		display: flex;
		align-items: center;
		i{
			margin-right: 20px;
			font-size: 15px;
			color: $color-secondary;
		}
	}
	.jssocials-share-link{
		padding-left: 60px;
		padding-right: 60px;
	}
}
.tags-post{
	margin-top: 20px;
	a{
		font-size: 9px;
		text-transform: uppercase;
		font-weight: bold;
		color: $color-secondary;
		display: inline-block;
		padding: 0px 12px;
		line-height: 20px;
		border-radius: 10px;
		border: 1px solid $color-border;
		margin-right: 10px;
		margin-bottom: 10px;
		&:hover{
			color: $brand-primary;
		}
	}
}
.title-post-detail{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: $brand-primary;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
	&:before{
		content: '';
		position: absolute;
		height: 3px;
		width: 54px;
		background-color: $brand-primary;
		left: 0;
		bottom: 0;

	}
}
.sidebar-news{
	
	.cate-post{
		margin: 0;
		padding: 0;
		margin-bottom: 24px;
		li{
			list-style: none;
			border-bottom: 1px dashed $color-border;
			padding-bottom: 6px;
			margin-bottom: 6px;
			&:hover,&.active{
				a{
					color: $brand-primary;
				}
			}
		}
	}
}
.list-post-sidebar{
	
}
.item-post-detail{
	margin-bottom: 22px;
	.img img{
		width: 100%;
	}
	.heading{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13.5px;
		margin-top: 18px;
		margin-bottom: 5px;
		a{
			@include set-lineMax(2,25px);
		}
		&:hover{
			a{
				color: $brand-primary;
			}
		}
	}
	.time{
		color: $color-secondary;
		i{
			margin-right: 8px;
		}
	}
}
.tags-sidebar{
	a{
		border: 1px solid $color-border;
		display: inline-block;
		border-radius: 20px;
		padding: 2px 12px;
		margin-bottom: 15px;
		&:hover{
			color: $brand-primary;
		}
	}
}
.related-post{
	padding-bottom: 20px;
}
@media (max-width: 991px) {
	.content-primary-newsdt .content-left{
		padding-right: 0;
	}
	.bd-left:before{
		display: none;
	}
	.sidebar-news{
		margin-top: 25px;
	}
}
@media (max-width: 767px) {
	.list-cate-blog{
		padding: 25px 0 5px 0;
	}
	.blog-hot{
		padding: 25px 0;
	}
	.list-blog-cate{
		padding-top: 25px;
	}
	.tabs-list-destination{
		padding: 25px 0;
		.nav-tabs .nav-link{
			width: 100%;
			margin-right: 0;
		}
		.list-item{
			padding: 20px 13px 10px 13px;
			a{
				padding-bottom: 10px;
			}
		}
	}
	.top-news-details>img{
		height: 250px;
	}
	.top-news-details .heading-news-details .wrap-heading{
		padding-left: 0px;
	}
	.top-news-details .heading-news-details {
		h1{
			font-size: 26px;
		}
		.time-bre{
			display: block;
			.time{
				display: block;
				margin-bottom: 5px;
			}
			ul li{
				&:first-child{
					border: none;
					padding-left: 0;
				}
			}
		}
	}
	.content-primary-newsdt{
		padding: 25px 0;
	}
	.content-primary-newsdt .share-post .count-share{
		margin-right: 15px;
		i{
			margin-right: 10px;
		}
	}

}