.page-tour-cate {
    padding: 45px 0 25px 0;
    .heading-tour {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 12px;
        border-bottom: 1px solid $color-border;
        color: $brand-primary;
    }
    .title-tour {
        margin-bottom: 40px;
        span {
            color: $color-secondary;
        }
    }
    .social-tour {
        margin-top: 15px;
        .jssocials-shares,
        .jssocials-share {
            display: inline-flex;
            align-items: center;
        }
        .fb-share-button {
            display: inline-flex;
            align-items: flex-start;
        }
    }
}

.search-destinations {
	background: white;
    .nav-link {
        font-weight: bold;
        font-size: 16.67px;
        line-height: 20px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        border-radius: 0;
        border: 1px solid $color-border;
        border-top: none;
        position: relative;
        &:first-child {
            font-size: 20px;
            font-weight: 600;
            padding: 0;
            align-items: center;
            border-top: 1px solid $color-border;
        }
        span {
            display: block;
            font-size: 13.5px;
            font-weight: 400;
            color: $color-secondary;
        }
        &.active {
            background-color: $brand-secondary;
            border: 1px solid $brand-secondary;
            border-top: none;
            span {
                color: white;
            }
            &:after {
                content: '';
                position: absolute;
                left: 100%;
                top: calc(50% - 10px);
                border-bottom: 10px solid transparent;
                border-top: 10px solid transparent;
                border-left: 10px solid $brand-secondary;
            }
        }
    }
    &.home{
    	position: absolute;
    	width: 100%;
    	top: 100%;
    	left: 0;
    	color: $color-primary;
    	box-shadow: 0 2px 12px 0 rgba(#000,0.2);
    	opacity: 0;
    	visibility: hidden;

    	.nav-link {
    		font-size: 13.5px;
    		padding: 0 15px;
    		span{
	    		text-align: left;
	    		text-shadow: none;
	    		text-transform: inherit;
	    		font-size: 12px;
	    		line-height: 15px;
	    	}
	    	&:first-child{
	    		font-size: 15px;
	    	}

    	}
    	
    	.tab-pane{
    		padding: 10px;
    	}
    	.destinations-hot .item{
    		margin-bottom: 10px;
    	}
    	.list-des-area .item .left-item,
    	.list-des-area .item .right-item{
    		font-size: 13px;
    	}
    	.destinations-hot .item a.location{
    		font-size: 12px;
    		font-weight: 600;
    	}
    	&.goIn{
	    	opacity: 1;
	    	visibility: visible;
	    }
    }

}

.destinations-hot {
    .item {
        position: relative;
        margin-bottom: 25px;
        border-radius: 5px;
        overflow: hidden;
        a.img {
            position: relative;
            display: block;
            overflow: hidden;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 40px;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                transition: 0.4s;
            }
        }
        a.location {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 5px 14px;
            letter-spacing: 0.05em;
        }

        &:hover {
            a.img {
                &:before {
                    height: 100%;
                }
            }
        }
    }
}

.tour-great {
    background-color: #f7f7f7;
    padding: 45px 0 25px 0;
    &.white {
        background-color: white;
    }
    .view-all-primary {
        padding: 15px 0;
        a {
            padding: 5px 65px;
        }
        i {
            margin-right: 0;
            margin-left: 7px;
            font-weight: 400;
        }
    }
}

.list-tour-great {
    margin-top: 35px;
}

.list-destination-great {
    padding: 35px 0 15px 0;
    .item {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 26px;
        a.img {
            position: relative;
            display: block;
            img {
                width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 30%;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                opacity: 0.8;
                transition: 0.4s;
            }
        }
        a.content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            font-weight: bold;
            padding: 10px 14px;
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
            }
            small {
                font-size: 13.33px;
            }
        }
        &:hover {
            a.img {
                &:before {
                    height: 100%;
                }
            }
        }
    }
}

.faq-feedback {
    background-color: #f7f7f7;
    padding: 35px 0 25px 0;
    .heading {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: $brand-primary;
        margin-bottom: 20px;
    }
}

.faq {
    margin-bottom: 10px;
    .content-faq {
        background-color: white;
        padding: 30px 40px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid $color-border;
        .card {
            border: none;
        }
        .card-header {
            border: none;
            background-color: white;
            position: relative;
            padding-top: 7px;
            padding-bottom: 7px;
            &:before {
                content: '•';
                position: absolute;
                left: 0;
                top: calc(50% - 12.5px);
                font-size: 18px;
            }
        }
        .card-body {
            padding-top: 0;
            padding-bottom: 0;
            color: $color-secondary;
            font-weight: 600;
        }
        .card-link {
            color: $brand-primary;
            font-weight: 600;
            &.collapsed {
                color: $color-primary;
            }
        }
    }
}

.feedback-des {
    .item {
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid $color-border;
        display: flex;
        align-items: flex-start;
        background-color: white;
        padding: 11px 24px 11px 8px;
        margin-bottom: 10px;
        img {
            border-radius: 50%;
            flex: 0 0 55px;
            margin-right: 12px;
            margin-top: 5px;
        }
        .content {
            p {
                margin-bottom: 0;
                font-weight: bold;
            }
            .desc {
                @include set-line(1, 25px);
                color: $color-secondary;
                margin-bottom: 15px;
            }
            .author {
                text-align: right;
                color: $color-secondary;
                font-size: 12px;
            }
        }
    }
}

.comment-share {
    padding: 35px 0;
}

.search-tour-banner {
    padding: 16px 10px 1px 10px;
    background-color: rgba(#000, 0.45);
    margin-top: 20px;
    display: table;
    clear: both;
    width: 100%;
    .form-group {
        text-align: left;
        padding: 0 15px;
        float: left;
        position: relative;
        div {
            background: white;
            border-radius: 4px;
            overflow: hidden;
        }
        label {
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &.item1,
        &.item2 {
            width: 28%;
        }
        &.item3 {
            width: 20%;
        }
        &.item4 {
            width: 24%;
        }
        .form-control {
            border: none;
            height: 41px !important;
            color: $color-secondary;
            font-size: 13.5px;
            padding-left: 30px;
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            background: transparent;
            position: relative;
            z-index: 1;
        }
        i {
            position: absolute;
            left: 25px;
            bottom: 13px;
            font-size: 13px;
            color: $color-secondary;
        }
        span {
            position: absolute;
            width: 48px;
            height: 41px;
            right: 15px;
            bottom: 0;
            font-size: 13px;
            color: $color-secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid $color-border;
        }
    }
}

.popup-compare-tour {
    position: absolute;
    bottom: 100%;
    left: 18px;
    width: 150px;
    border: 1px solid #4fb9e8;
    background: white;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    h4 {
        font-size: 15px;
        font-weight: bold;
    }
    a {
        display: block;
        font-size: 12px;
        font-weight: 600;
        @include set-line(1, 25px);
        color: #20669c;
        background: #e6edf2;
        padding: 0 5px;
        margin-bottom: 6px;
    }
    span {
        font-size: 11px;
        font-weight: 300;
        color: $color-secondary;
        line-height: 15px;
        display: inline-block;
        margin-bottom: 8px;
    }
    .bt-compare {
        display: flex;
        justify-content: space-between;
        button {
            height: 27px;
            padding: 0 10px;
            border: none;
            font-size: 12px;
            &:first-child {

                font-weight: bold;
                text-transform: uppercase;
                color: white;
                background: $bg-primary;
            }
            &:last-child {
                background: transparent;
                color: $brand-primary;
            }
        }
    }
    &.goIn {
        opacity: 1;
        visibility: visible;
    }
}

.page-tour-details {
    .breadcrumb {
        padding: 16px 0;
        background: transparent;
        margin-bottom: 0;
        .breadcrumb-item {
            font-size: 12px;
            color: $color-secondary;
            font-weight: 600;
        }
        .breadcrumb-item+.breadcrumb-item::before {
            padding: 0 4px;
        }
    }
}

.content-left-tour {
    padding-bottom: 30px;
    @media (min-width: 1200px) {
        padding-right: 16px;
    }
    .heading {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid $color-border;
        margin-bottom: 20px;
    }
}

.page-section {
    padding-top: 25px;
    p {
        margin-bottom: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }
    .title-section {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: $brand-primary;
        padding-left: 15px;
        border-left: 5px solid $brand-primary;
        line-height: 16px;
        margin-bottom: 25px;
    }
    &.highlights {
        .title-section {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0;
            padding-left: 20px;
        }
    }
    &.program {
        .card {
            border-radius: 0;
            border: none;
            margin-bottom: 16px;
        }
        .card-header {
            padding: 0 10px 0 95px;
            position: relative;
            border-radius: 0 !important;
            background: #f7f7f7;
            border: 1px solid $color-border;
        }
        .card-link {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            height: 77px;
            .day {
                position: absolute;
                left: 0;
                top: 0;
                width: 70px;
                height: 100%;
                background-color: $brand-primary;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: white;
                b {
                    font-size: 30px;
                }
            }
            .name {
                font-weight: bold;
                @include set-lineMax(2, 25px);
            }
            img {
                flex: 0 0 59px;
                width: 59px;
                margin-left: 15px;
                border-radius: 50%;
            }
        }
        .card-body {
            padding: 16px 0 0 0;
            p {
                margin-bottom: 0;
            }
        }
    }
    &.details-tour {
        .item-tb {
            .title {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 15px;
                i {
                    margin-right: 10px;
                }
            }
            table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                background-color: #f7f7f7;
                border: 1px solid $color-border;
                td {
                    vertical-align: middle;
                    padding: 3px 12px;
                    border: 1px solid $color-border;
                }
            }
        }
    }
    &.contact {
        margin-bottom: 30px;
        b {
            font-size: 15px;
            margin-bottom: 8px;
            display: inline-block;
        }
        p {
            span {
                display: inline-flex;
                align-items: center;
                padding-right: 14px;
                margin-right: 10px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 12px;
                    top: calc(50% - 6px);
                    width: 1px;
                    background: $color-primary;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
                i {
                    margin-right: 12px;
                }
            }
        }
    }
}

.img-of-tour {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px dotted $color-border;
}

.slideImgTour {
    padding: 8px 50px;
    background: #f7f7f7;
    margin-top: 12px;
    border: 1px solid $color-border;
    .owl-nav {
        margin-top: 0;
    }
    .slide-blog-next,
    .slide-blog-prev {
        right: inherit;
        left: 12px;
        span {
            color: #cdcdcd;
            font-size: 25px;
        }
    }
    .slide-blog-next {
        left: inherit;
        right: 12px;
    }
}

.menu-tour-details {
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
    .navigation__link {
        padding: 3px 12px;
        &.active {
            color: white;
            background: $brand-primary;
        }
    }
    &.fix {
        position: fixed;
        left: 0;
        width: 100%;
        top: 69px;
        justify-content: center;
        z-index: 9;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    }
}

.slideImgPartner {
    .item {
        img {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.sidebar-tour {
    .map {
        width: 100%;
        margin-bottom: 35px;
    }
}

.tb-info-tour {
    border: 1px solid $color-border;
    background: #f7f7f7;
    margin-bottom: 25px;
    position: relative;
    .price {
        padding: 17px 20px;
        border-bottom: 1px solid $color-border;
        b {
            display: block;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0;
            span {
                color: $brand-secondary;
                font-size: 25px;
                font-weight: bold;
                margin-right: 18px;
            }
            small {
                font-size: 15px;
                text-decoration: line-through;
                color: $color-secondary;
            }
        }
    }
    .content {
        padding: 5px 20px 20px 20px;
        button {
            width: 100%;
            background: $brand-primary;
            color: white;
            margin-top: 25px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            transition: 0.2s;
            &:hover {
                background: $brand-secondary;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 5px 0;
            border-bottom: 1px dotted #cdcdcd;
            i {
                color: $color-secondary;
                margin-right: 8px;
            }
        }
    }
}

.list-tour-related {
    .heading {
        font-size: 20px;
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 20px;
        position: relative;
        margin-bottom: 12px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 5px;
            height: 15px;
            top: calc(50% - 7.5px);
            background-color: $brand-primary;
        }
    }
    .item-tour {
        display: flex;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px dashed $color-border;
        .img-tour {
            flex: 0 0 126px;
            >a {
                display: block;
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .location-time-tour {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            }
        }
        .content-tour {
            border: none;
        }
    }
}

.ads-compare {
    padding-bottom: 50px;
}

.page-compare {
    padding: 50px 0;
    .table-responsive {
        box-shadow: 0 3px 7px 0 rgba(#000, 0.1);
    }
    table {
        margin-bottom: 0;

        tr {
            &.blue:first-child {
                td {
                    font-weight: 600;
                    text-transform: uppercase;
                    background: #eff7fa !important;
                }
            }
            td {
                a {
                    font-weight: bold;
                    color: #13639e;
                }
                strong {
                    color: $brand-secondary;
                    font-size: 15px;
                }
                p {
                    margin-bottom: 0;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    padding-left: 18px;
                }
                button {
                    width: 152px;
                    height: 26px;
                    background: $bg-primary;
                    border: none;
                    padding: 0;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    border-radius: 5px;
                }
                &:nth-child(1) {
                    width: 94px;
                    background: white !important;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 368px;
                }
            }
            &.blue {
                td {
                    background: #eff7fa;
                }
            }
            &.social {
                td {
                    background: #eff7fa !important;
                }
            }
        }
    }
}

.top-book-tour {
    padding: 50px 0;
}

.process-bookTour {
    padding: 0 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 17%;
        right: 17%;
        width: 66%;
        top: 18.5px;
        height: 1px;
        background-color: $color-border;
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            border: 1px solid $color-border;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            position: relative;
            z-index: 1;
            i {
                font-size: 20px;
                color: $brand-primary;
            }
        }
        b {
            font-size: 15px;
            text-transform: uppercase;
            margin-top: 18px;
        }
    }
}

.info-tour-book {
    margin-top: 40px;
    display: flex;
    width: 100%;
    .img {
        flex: 0 0 385px;
        position: relative;
        img {
            object-fit: cover;
        }
    }
    .content {
        border: 1px solid $color-border;
        width: 100%;

        .top-item,
        .center-item,
        .bottom-item {
            padding: 12px 22px;
            border-bottom: 1px solid $color-border;
        }
        .top-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            h3 {
                margin-bottom: 0;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                @include set-lineMax(2, 25px);
            }
            b {
                font-size: 20px;
                color: $brand-secondary;
                margin-left: 20px;
            }
        }
        .center-item {
            ul {
                margin: 0;
                padding: 0;
                display: table;
                clear: both;
                li {
                    list-style: none;
                    float: left;
                    width: 33.33%;
                    padding-right: 10px;
                    padding: 5px 0;
                    i {
                        color: $color-secondary;
                        margin-right: 8px;
                    }
                }
            }
        }
        .bottom-item {
            border-bottom: none;
            color: $brand-secondary;
        }
    }
}
.list-payment{
	background: white;
	padding: 22px;
	border: 1px solid $color-border;
}
.info-payment-tour {
    background-color: #f7f7f7;
    padding: 50px 0;
    h3{
    	text-align: center;
    	font-weight: 600;
    	font-size: 30px;
    	color: $brand-primary;
    	text-transform: uppercase;
    	margin-bottom: 45px;
    }
    .info-partner {
    	padding-bottom: 25px;
    }
    .item-payment {
    	
    	&:first-child{
    		border-bottom: 1px solid $color-border;
    		padding-bottom: 10px;
    		margin-bottom: 10px;
    	}
    	.form-group{
    		width: 232px;
    		margin-top: 20px;
    		select{
    			border-radius: 0;
    			border: 1px solid #11b2ed;
    		}
    	}
        .title-payment {
            display: flex;
            label {
                margin-bottom: 0;
            }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked+label,
            [type="radio"]:not(:checked)+label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }
            [type="radio"]:checked+label:before,
            [type="radio"]:not(:checked)+label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 1px solid $brand-primary;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked+label:after,
            [type="radio"]:not(:checked)+label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: $brand-primary;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked)+label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked+label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}
.list-ip-sm{
	display: flex;
	justify-content: space-between;
	.form-group{
		width: 95px;
	}
}
.form-info-partner{
	.form-group{
		label{
			margin-bottom: 5px;
		}
		.form-control{
			height: 35px;
			font-size: 13.5px;
			&::placeholder{
				color: $color-secondary;
			}
		}
		textarea{
			height: auto !important;
		}
	}
	.note{
		b{
			display: block;
			color: $brand-secondary;
		}
		p{
			color: $color-secondary;
			font-style: italic;
		}
	}
}
.bt-booking{
	text-align: center;
	margin-top: 50px;
	button{
		background: linear-gradient(to top, #e71921, #ff3b43);
		font-size: 15px;
		font-weight: bold;
		color: white;
		padding: 0;
		text-transform: uppercase;
		max-width: 330px;
		width: 100%;
		height: 45px;
		border-radius: 5px;
		border: none;
	}
}
.list-des-area{
	.item{
		display: flex;
		margin-bottom: 10px;
		.left-item{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			width: 25%;
		}

		.right-item{
			color: $color-secondary;
			width: 74%;
			a{
				margin-right: 15px;
				&:hover{
					color: $brand-secondary;
				}
			}
		}
	}
}
.box-info-bank{
	display: none;
	padding-left: 10px;
	margin-top: 10px;
	&#select1{
		display: block;
	}
	*{
		display: block;
	}
	img{
		margin-bottom: 2px;
	}
	b{
		line-height: 20px;
	}
}
.red {
    color: #e23931;
}

@media (max-width: 1199px) {
    .menu-tour-details {
        display: none;
    }
    .info-tour-book .img img{
    	height: 100%;
    }
    .info-tour-book .content .center-item ul li{
    	width: 50%;
    }
    .process-bookTour:before{
    	display: none;
    }
    .list-ip-sm .form-group{
    	width: 70px;
    }
}

@media (max-width: 991px) {
	.list-ip-sm .form-group{
    	width: 94px;
    }
	.process-bookTour{
		padding: 0;
	}
	.info-tour-book{
		display: block;
		.img img{
			width: 100%;
		}
	}
    .search-destinations {
        .nav-link {
            height: 45px;
            font-size: 15px;
            line-height: 18px;
            &.active {
                &:after {
                    display: none;
                }
            }
        }
        .search-des {
            margin-top: 20px;
        }
    }
    .feedback-des {
        margin-top: 15px;
    }
    .search-tour-banner .form-group {
        width: 50% !important;
        margin-bottom: 10px
    }
}

@media (max-width: 767px) {
	.top-book-tour{
		padding: 25px 0;
	}
	.bt-booking{
		margin-top: 25px;
	}
	.process-bookTour .item b{
		font-size: 13.5px;
	}
	.info-tour-book .content .center-item ul li{
		width: 100%;
	}
	.info-tour-book .content .bottom-item, .info-tour-book .content .center-item, .info-tour-book .content .top-item{
		padding: 10px;
	}
    .page-compare {
        padding: 25px 0;
    }
    .ads-compare {
        padding-bottom: 25px;
    }
    .content-left-tour {
        .heading {
            font-size: 20px;
        }
    }
    .title-banner-page.tour {
        padding-top: 50px;
    }
    .comment-share {
        padding: 25px 0;
    }
    .search-tour-banner .form-group {
        width: 100% !important;
    }
    .faq .content-faq {
        padding: 10px 15px;
    }
    .faq-feedback {
        .heading {
            font-size: 25px;
        }
    }
    .page-tour-cate {
        padding-top: 25px;
        .title-tour {
            margin-bottom: 20px;
        }
    }
    .search-destinations {
        .nav-link {
            height: 40px;
            font-size: 14px;
            line-height: 15px;
            span {
                font-size: 12px;
            }
            &:first-child {
                font-size: 18px;
            }
        }
        .search-des {
            margin-top: 10px;
        }
    }
    .tour-great {
        padding: 25px 0 10px 0;
    }
    .list-tour-great {
        margin-top: 25px;
    }
    .info-payment-tour h3{
    	font-size: 25px;
    	margin-bottom: 20px;
    }
    .info-payment-tour{
    	padding: 25px 0;
    }
    .form-info-partner .note p{
    	margin-bottom: 0;
    }
}

@media (max-width: 575px) {
	.process-bookTour{
		display: block;
		.item{
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
    .list-tour-related {
        .list-tour {
            .item-tour {
                display: block;
                .content-tour {
                    padding: 13px 10px 13px 18px;
                    border: solid 1px #dedede;
                }
                .img-tour img {
                    max-height: 200px;
                }
            }
        }
    }
    .list-ip-sm{
    	display: block;
    	.form-group{
    		width: 100%;
    	}
    }
}