.page-voucher {
    padding: 45px 0;
    .list-voucher {
        .item {
            display: flex;
            margin-top: 16px;
            .img-tour {
                flex: 0 0 282px;
                a {
                    display: block;
                    height: 100%;
                }
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .view-all-primary {
        a {
            padding: 5px 65px;
        }
        i {
            margin-right: 0;
            margin-left: 7px;
            font-weight: 400;
        }
    }
}

.list-des-voucher {
    padding-left: 25px;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid #cdcdcd;
    &:before {
        content: "\e081";
        position: absolute;
        font-family: 'ElegantIcons';
        left: 0;
        color: $brand-primary;
        font-size: 15px;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        li {
            list-style: none;
            a {
                text-transform: uppercase;
                font-weight: bold;
                color: $color-secondary;
                font-size: 15px;
            }
            &:hover,
            &.active {
                a {
                    color: $brand-primary;
                }
            }
        }
    }
}

.list-voucher-hot {
    .heading {
        font-size: 20px;
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 20px;
        position: relative;
        margin-bottom: 12px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 5px;
            height: 15px;
            top: calc(50% - 7.5px);
            background-color: $brand-primary;
        }
    }
    .item-primary {
        border-radius: 0;
        margin-bottom: 12px;
        .content .title {
            font-size: 13px;
            span {
                color: $brand-secondary;
            }
            small {
                font-size: 100%;
                text-transform: lowercase;
            }
        }
    }
}

.voucher-interes {
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px dashed $color-border;
            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            strong {
                font-weight: 600;
                color: $brand-secondary;
            }
            &:first-child {
                font-weight: bold;
                border-bottom: 1px solid $color-border;
                margin-bottom: 8px;
            }
            &:last-child {
                border: none;
            }
            &:hover {
                a {
                    span {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
}

.page-voucher-details {
    padding: 45px 0;
}

.content-left-voucher {
    @media (min-width: 1200px) {
        padding-right: 16px;
    }
    .heading {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .address-vc {
        font-size: 12px;
    }
    .share-post {
        justify-content: space-between;
        .jssocials-share-link {
            padding-left: 59px;
            padding-right: 59px;
        }
    }

    .info-basic-voucher {
        padding: 25px;
        background-color: #eff7fa;
        margin: 16px 0;
        border: 1px solid #c9d7ec;
        .info-left {
            @media (min-width: 1200px) {
                padding-right: 30px;
            }
            .name-voucher {
                font-size: 25px;
                font-weight: bold;
                line-height: 30px;
                margin-bottom: 15px;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                }
            }
            button {
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                color: $brand-primary;
                border: 1px solid $brand-primary;
                width: 100%;
                margin: 35px 0 15px 0;
                background: transparent;
                border-radius: 5px;
                height: 34px;
                &:hover {
                    color: white;
                    background: $brand-primary;
                    color: white;
                }
            }
        }
        .info-right {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .price {
                font-size: 25px;
                font-weight: bold;
                color: $brand-secondary;
                span {
                    font-size: 13.5px;
                    font-weight: 400;
                }
            }
            button {
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
                margin: 15px 0 15px 0;
                background: $brand-primary;
                border-radius: 5px;
                height: 38px;
                width: 180px;
                &:hover {
                    color: $brand-primary;
                    background: transparent;
                    border: 1px solid $brand-primary;
                }
            }
            .call {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                margin-bottom: 12px;
                i {
                    margin-right: 15px;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                margin-bottom: 12px;
                width: 230px;
                border: 1px solid #b1c9ea;
                border-radius: 5px;
                overflow: hidden;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    color: #606269;
                    line-height: 20px;
                    padding: 8px 15px;
                    &:not(:last-child) {
                        border-bottom: 1px solid #b1c9ea;
                    }
                    i {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .info-details-voucher {
        border-left: 10px solid #eff7fa;
        border-right: 10px solid #eff7fa;
        border-top: 5px solid #eff7fa;
        border-bottom: 5px solid #eff7fa;
        margin-bottom: 40px;
        p {
            margin-bottom: 0px;
        }
        .item {
            padding: 12px;
            border-top: 5px solid #eff7fa;
            border-bottom: 5px solid #eff7fa;
            .title {
                font-size: 13.5px;
                text-transform: uppercase;
                font-weight: bold;
                color: $brand-primary;
                margin-bottom: 20px;
                margin-top: 5px;
            }
        }
        .facility {
            ul {
                margin: 0;
                padding: 0;
                display: table;
                clear: both;
                li {
                    list-style: none;
                    width: 33.33%;
                    float: left;
                    padding-right: 15px;
                    position: relative;
                    padding-left: 15px;
                    &:before {
                        content: '•';
                        color: $brand-primary;
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.slide-top-details {
    margin-top: 22px;
    .slider-post {
        position: relative;
    }
    .slider-big {
        margin-bottom: 0;
    }
    .slider-small {
        margin-bottom: 0;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        .item {
            &.slick-current,
            &:hover {
                img {
                    border: 1px solid $brand-secondary;
                }
                p {
                    text-decoration: underline;
                }
            }
        }
    }
    .slick-prev {
        left: 0;
        z-index: 10;
        width: 50px;
        height: 50px;
        top: calc(50% - 50px);
        z-index: 100;
        margin-top: 0;
        &:before {
            content: "\34";
            font-family: 'ElegantIcons';
            font-size: 50px;
        }
    }
    .slick-next {
        right: 0;
        width: 50px;
        height: 50px;
        top: calc(50% - 50px);
        z-index: 100;
        margin-top: 0;
        &:before {
            content: "\35";
            font-family: 'ElegantIcons';
            font-size: 50px;
        }
    }
}

.sidebar-voucher {
    .map {
        width: 100%;
        margin-bottom: 35px;
    }
}

.list-voucher-related {
    .heading {
        font-size: 20px;
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 20px;
        position: relative;
        margin-bottom: 12px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 5px;
            height: 15px;
            top: calc(50% - 7.5px);
            background-color: $brand-primary;
        }
    }
    .list-voucher {
    	padding: 10px 0 0 0;
        .item {
            display: flex;
            margin-top: 0;
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px dashed $color-border;
            .content-tour {
            	padding-top: 0;
            	padding-bottom: 0;
            	border: none;
            	.name-tour{
	            	@include set-lineMax(1,25px);
	            }
            }
            
            .img-tour {
                flex: 0 0 126px;
                a {
                    display: block;
                    height: 100%;
                }
                img {
                    height: 100%;
                    object-fit: cover;
                }
                .location-time-tour{
                	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                }
            }
            &:hover{
            	box-shadow: none;
            }
            &:last-child{
            	border: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .list-voucher-hot {
        margin-top: 25px;
    }
    .sidebar-voucher{
    	margin-top: 20px;
    }
}

@media (max-width: 767px) {
    
	.content-left-voucher .share-post .jssocials-share-link{
		padding-left: 60px;
    	padding-right: 60px;
	}
	.content-left-voucher {
		.heading{
			font-size: 20px;
		}
		.info-basic-voucher{
			padding: 15px;
			.info-left .name-voucher{
				font-size: 20px;
			}
		}
		.info-details-voucher {
			.facility ul li{
				width: 100%;
			}
			.item .title{
				line-height: 25px;
				margin-bottom: 10px;
			}
		}
		
	}
	
    .page-voucher {
        padding: 25px 0;
        .list-voucher {
            padding-bottom: 20px;
            .item {
                display: block;
            }
        }
    }
	.page-voucher-details{
		padding: 25px 0 0 0;
	}
    .list-des-voucher {
        padding-left: 0;
        &:before {
            display: none;
        }
        ul {
            justify-content: flex-start;
            overflow-y: auto;
            li {
                padding: 0 5px;
                white-space: nowrap;
            }
        }
    }
}
@media (max-width: 575px) {
	.list-voucher-related{
		.list-voucher {
            .item {
                display: block;
                .content-tour{
                	padding: 13px 10px 13px 18px;
                	    border: solid 1px #dedede;
                }
                .img-tour img{
                	max-height: 200px;
                }
            }
        }
	}
}